/* Nathan Cybulski 08/08/2022 */
body {
    background-image: url('../images/bg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

}

ol {
    color: aliceblue;
}

.buttona {
    background-color: #ffffff;
    /* not- transparent */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


p {
    background-color: rgb(0, 36, 98);
    color: aliceblue;
}

img {
    max-width: 50%;
    height: auto;

}

.sectionbody {
    background-color: rgb(0, 36, 98);

}

.sectionbody1 {
    background-color: rgb(0, 36, 98);

}

.toptitle {
    background-color: rgb(0, 36, 98);
    color: white;

}

.navbar1 {
    background-color: rgb(0, 36, 98);

}


.bottomtitle {
    background-color: rgb(0, 36, 98);
    color: white;
}

h2 {
    background-color: rgb(0, 36, 98);
    color: aliceblue;
}

nav {
    background-color: rgb(0, 33, 90);
    color: rgb(255, 255, 255);
}

.buttonblue {
    background-color: rgb(0, 33, 90);
}

.buttonblue:hover {
    background-color: rgb(156, 192, 255);


}

.whitetext {
    color: white;
}

.left {
    text-align: left;
}

.horiz {
    width: auto;
}

.cent {
    align-items: center;
}